<div class="row">
  <div class="small-12 medium-8 columns">
    <h3>Pick your favourite items...</h3>
    <ul class="product-list">
      <li *ngFor="let product of products" class="product-container">
        <div class="row">
          <div class="medium-3 columns text-center">
          </div>
          <div class="medium-9 columns">
            <h4>
              <span class="text--bold js-product-name">{{product.name}}</span>
              <small class="product_price js-product-price">{{product.price | currency:'USD'}}</small>
            </h4>
            <p class="js-product-desc">{{product.description}}</p>
            <p>
              <button type="button" class="button success large js-btn-add" (click)="addProductToCart(product, 1)">Add To
                Cart</button>
              <button type="button" style="margin-left: 10px;"  class="button small js-btn-remove" *ngIf="productInCart(product)" (click)="removeProductFromCart(product, 1)">Remove
                item from cart</button>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="row">
        <div class="small-12 columns">
          <h3>
            <i class="material-icons">shopping_basket</i>
            Your Shopping Basket
          </h3>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="small-12 columns">
          <h5>
            Sub Total ({{itemCount}} items):
            <span class="text--red text--bold js-cart-total">{{grossTotal | currency:'USD'}}</span>
          </h5>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="small-12 columns">
          <a class="success button large expanded"
             [attr.disabled]="itemCount === 0 ? true : null"
             routerLink="/checkout">Proceed To Checkout</a>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns text-center">
          or
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <button type="button"
                  class="secondary button small expanded js-btn-empty-cart"
                  (click)="emptyCart()"
                  [attr.disabled]="itemCount === 0 ? true : null">
            Empty shopping basket
          </button>
        </div>
      </div>
  </div>
</div>